body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

a {
    color: #333;
    font-size: 1.2rem;
}

a:hover {
    color: coral;
}

nav {
    position: fixed;
    bottom: 20px;
    left: 20px;
}

.main-container {
    max-width: 1024px;
    margin: 0 auto;
}

.value {
    color: coral;
}

.container {
    background: #ebeff1;
    padding: 10px;
    margin: 10px 0;
}

.box {
    color: #fff;
    margin: 10px;
    font-size: 25px;

    /* Для наглядности */
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-1 {
    background: #3ddf75;
    width: 100px;
    height: 120px;
}

.box-2 {
    background: #ebc914;
    width: 120px;
    height: 90px;
}

.box-3 {
    background: #d73b3b;
    width: 120px;
    height: 120px;
}

.box-4 {
    background: #3d9cd5;
    width: 190px;
    height: 120px;
}

/* 1 display: flex */
#container-1 {
    display: flex;
}

/* 2 flex-direction */
#container-2 {
    display: flex;
    flex-direction: row;
}

#container-3 {
    display: flex;
    flex-direction: column;
}

#container-4 {
    display: flex;
    flex-direction: row-reverse;
}

#container-5 {
    display: flex;
    flex-direction: column-reverse;
}

/* 3 justify-content */
#container-6 {
    display: flex;
    justify-content: flex-start;
}

#container-7 {
    display: flex;
    justify-content: flex-end;
}

#container-8 {
    display: flex;
    justify-content: center;
}

#container-9 {
    display: flex;
    justify-content: space-between;
}

#container-10 {
    display: flex;
    justify-content: space-around;
}

/* 4 align-items */
#container-11 {
    display: flex;
    height: 200px;

    /* height: auto;
    flex-direction: column; */

    align-items: flex-start;
}

#container-12 {
    display: flex;
    height: 200px;

    /* height: auto;
    flex-direction: column; */

    align-items: flex-end;
}

#container-13 {
    display: flex;
    height: 200px;

    /* height: auto;
    flex-direction: column; */

    align-items: center;
}

#container-14 {
    display: flex;
    height: 200px;
    align-items: stretch;
}

#container-14 .box {
    height: auto;
}

#container-15 {
    display: flex;
    height: 200px;
    align-items: baseline;
}

/* 5 flex-wrap */
#container-16 {
    display: flex;
    flex-wrap: nowrap;
}

#container-17 {
    display: flex;
    flex-wrap: wrap;
}

#container-18 {
    display: flex;
    flex-wrap: wrap-reverse;
}

/* 6 flex-flow */
#container-19 {
    display: flex;
    flex-flow: column wrap;
    height: 400px;
}

/* #7 align-content */
#container-20 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: flex-start;
}

#container-21 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: flex-end;
}

#container-22 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: center;
}

#container-23 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: stretch;
}

#container-23 .box {
    height: auto;
}

#container-24 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: space-between;
}

#container-25 {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    align-content: space-around;
}

/* 1 align-items */
#container-26 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 300px;
}

#container-26 .box-1 {
    align-self: flex-start;
}

#container-26 .box-2 {
    align-self: flex-end;
}

#container-26 .box-3 {
    align-self: center;
}

#container-26 .box-4 {
    align-self: stretch;
    height: auto;
}

#container-27 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 300px;
}

#container-27 .box-1 {
    align-self: baseline;
}

#container-27 .box-2 {
    align-self: baseline;
}

/* 2 flex-basis */
/* размер flex-элемента */
/* content -> width -> flex-basis (ограниченный max|min-width) */

#container-28 {
    display: flex;
    flex-direction: row;
}

#container-28 .box {
    /* width элементов игнорируется */
    flex-basis: 251px;
}

#container-29 {
    display: flex;
    flex-direction: row;
    
}

#container-29 .box {
    /* flex-basis теперь ограничен */
    max-width: 100px;
}

#container-30 {
    display: flex;
    flex-direction: row;
}

#container-30 .box {

    /* выйдут за пределы */
    /* min-width: 251px; */

    /* будут урезаны под размер */
    flex-basis: 251px;

    /* дальнейшее применение */
    /* flex-basis: 80px;
    flex-grow: 1; */
}

/* 3 flex-grow */
/* остаток свободного места в контейнере распределсяется по частям,
в той пропорции, которая выставлена для каждого */
#container-31, #container-32 {
    display: flex;
    flex-direction: row;
}

#container-31 .box {
    /* 1 + 1 + 1 + 1 = 4 */
    /* 1/4 */
    flex-grow: 1;
}

#container-32 .box {
    flex-grow: 1;
}

#container-32 .box-2 {
    /* 1 + 4 + 1 + 1 = 7 */
    /* 4/7 */
    flex-grow: 4;
}

/* 4 flex-shrink */
#container-33, #container-34 {
    display: flex;
    flex-direction: row;
}

#container-33 .box, #container-34 .box {
    flex-grow: 1;
}

#container-33 .box-1 {
    /* запрет на сжатие */
    flex-shrink: 0;
}

/* 5 flex */
#container-35 {
    display: flex;
    flex-direction: row;
}

#container-35 .box-1 {
    flex: 2 1 300px;
}

#container-35 .box-2 {
    flex: 1 2 300px;
}

/* 6 order */
#container-36 {
    display: flex;
    flex-direction: row;
}

#container-36 .box-1 {
    order: 2;
}

#container-36 .box-2 {
    order: 1;
}

#container-36 .box-3 {
    order: 4;
}

#container-36 .box-4 {
    order: 3;
}
